<div class="toggle-child" id="<%= child.id %>">
   <div class="panel panel-default">
     <div class="panel-body">
         <%= link_to toggle_info_model_path(child, class: "child"), remote: true do %>
            <span class="glyphicon glyphicon-remove"></span>
         <% end %>     
         <ul class="nav nav-pills">
            <li class="active"><%= link_to child.name, info_model_path(child), remote: true%></li>
            <% if !child.leaf? %>         
               <li >
                  <%= link_to "#" do %>
                      Children<span class="badge pull-right"><%= child.children.count%></span>
                  <% end%>
               </li>
            <% end %>
            <% if child.leaf? %>
               <li>
                  <%= link_to systems_info_model_path(child), remote: true do %>
                     Systems<span class="badge pull-right success">
                        <%= child.crud_relationships.count %>
                     </span>
                  <% end %>
               </li>
            <% end %>         
         </ul> 
         <div class="child" id="<%= child.id%>">
            <div class="panel panel-default">
              <div class="panel-body">
         
                  <div class="row">    
                     <div class="col-md-6">
                        <div class="systems" id="<%= child.id%>"></div>
                     </div>
                     <div class="col-md-6">
                        <div class="projects" id="<%= child.id%>"></div>            
                     </div>         
                  </div>
              </div>
            </div>
         </div>
     </div>
   </div>
</div>