<div class="bg-primary">
		<h1 class="text-center"><span class="glyphicon glyphicon-ok"></span><%= pos.position.to_s.titleize %></h1>
      <h2 class="text-center"><%= pos.ct%></h2>
      <h1 class="text-center"><%= number_to_percentage(pos.tot_percent)%></h1>            
      <h1 class="text-center"><%= number_to_percentage(pos.assess_percent)%></h1>
      <% for dim in pos.count_dims %>
         <h4 class="text-center"><%= dim.dim_name.to_s.titleize%></h4>
         <% dim.each do |k, v|%>
            <h4 class="text-center"><%= "#{k}: #{v}"%></h4>
         <% end %>
      <% end%>
</div>
