<div class="panel panel-default">
  <div class="panel-body">
      <%= link_to toggle_reference_model_path(@child, class: "systems"), remote: true do %>
         <span class="glyphicon glyphicon-remove"></span>
      <% end %>
      <% @child.systems.each do |system|%>
         <div class="alert <%= determine_alert_from_tqfq(system)%>" role="alert">
            <ul class="nav nav-pills">
               <li class="active"><%= link_to system.name, system_path(system) %></li>
               <li >
                  <%= link_to "#" do %>
                      PACE<span class="badge pull-right"><%= system.pace_layer%></span>
                  <% end%>
               </li>               
               <li >
                  <%= link_to "#" do %>
                      Tier<span class="badge pull-right"><%= system.criticality%></span>
                  <% end%>
               </li>               
               <li >
                  <%= link_to summary_system_path(system), remote: true do %>
                     <span class="glyphicon glyphicon-chevron-right"></span>
                  <% end %>
               </li>
            </ul>
            <div id="<%= system.id %>"></div>
         </div>
      <% end %>
   </div>
</div>