<%= form_for(@system, html: { class: "custom"}) do |f| %>
   <div class="row">
     <div class="small-3 columns">
       <%= f.label :name, class: "right inline" %>
     </div>
     <div class="small-9 columns">
       <%= f.text_field :name %>
     </div> 
   </div>
   <% System.all_property_names.each do |p|%>
      <div class="row">
         <div class="small-3 columns">
            <%= label_tag p, nil, class: "right inline" %>
         </div>
         <div class="small-9 columns"> 
            <% if @system.property_type(prop: p) == :long_text%>
               <%= text_area_tag("properties[#{p}]", "#{@system.send(p)}", size: "10x30")%>      
            <% else %>
               <%= text_field_tag("properties[#{p}]", "#{@system.send(p)}") %>      
            <% end %>               
         </div>
      </div>
   <% end %>
   <div class="row">
     <div class="small-9 small-offset-3 columns">
       <%= f.submit 'Submit', :class => 'button small' %>
     </div>
   </div>
<% end %>