<tr>
   <td>
      <%= link_to system.name, system_path(system)%>
   </td>
   <td>
      <%= system.type %>
   </td>   
   <td>
      <div class="label"><%= system.tq_fq_quadrant %></div>
   </td>
   <td>
      <%= system.pace_layer %>
   </td>
   <td>
      <%= system.criticality %>
   </td>
   <td>
      <%= number_to_percentage(system.sap_coverage) %>
   </td>
   <td>
      <%= link_to "Show",  system_path(system), class: "button tiny"%>
      <%= link_to "Edit",  edit_system_path(system), class: "button tiny"%>               
      <%= link_to "Delete",  system_path(system), method: :delete, class: "button tiny"%>                     
   </td>
</tr>
