<tr>
   <td>
      <%= link_to system.name, system_path(system)%>
   </td>
   <td>
      <%= system.type %>
   </td>   
   <td>
      <%= system.asset_type.try(:value) %>
   </td>   
   <td>
      <% if system.tq_fq_quadrant %>
         <div class="label <%= tq_fq_colour(system.tq_fq_quadrant.value) %>"><%= system.tq_fq_quadrant.value %></div>
      <% end %>
   </td>
   <td>
      <%= system.pace_layer.try(:value) %>
   </td>
   <td>
      <%= system.criticality.try(:value) %>
   </td>
   <td>
      <%= number_to_percentage(system.sap_coverage.try(:value)) %>
   </td>
   <td>
      <%= link_to "Show",  system_path(system), class: "button tiny"%>
      <%= link_to "Edit",  edit_system_path(system), class: "button tiny"%>               
      <%= link_to "Delete",  system_path(system), method: :delete, class: "button tiny"%>                     
   </td>
</tr>
