<div class='alert alert-info fade in' data-alert='alert'>
   <h3>Systems</h3>
</div>

<div class="jumbotron">
  <h1>Counts</h1>
  <p><%= "Total Systems: #{System.system_count}"%></p>
  <p><%= "Total Systems Assessed: #{System.assessed_count}" %></p>  
  <p><%= "Total Core: #{System.core(type: :all).count}"%></p>
  <p><%= "Total Core Assessed: #{System.core(type: :assessed).count}"%></p>
</div>

<table class="table" id="systems-list">
   <thead>
     <tr>
       <th>Name</th>
       <th>Type</th>       
       <th>TQ/FQ Quad</th>       
       <th>Pace Layer</th>  
       <th>Criticality</th>
       <th>SAP Cover</th>         
       <th>Actions</th>                   
     </tr>
   </thead>
   <tbody>
      <% for system in @systems %>
         <%= render partial: 'q_summary', locals: {system: system} %>
      <% end %>
   </tbody>
</table>